<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--Local-->
		<!--
		<add name="DefaultConnection" connectionString="Data Source=ANTONIO\SQLEXPRESS;Initial Catalog=OL_Gamers_AL;User Id=sa;Password=333ZZZ...;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="OL_Gamers_ALEntities" connectionString="metadata=res://*/Models.VideoJuegosContext.csdl|res://*/Models.VideoJuegosContext.ssdl|res://*/Models.VideoJuegosContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANTONIO\SQLEXPRESS;initial catalog=OL_Gamers_AL;persist security info=True;user id=sa;password=333ZZZ...;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
		<!--Remoto-->
		<add name="DefaultConnection" connectionString="Data Source=SQL5074.site4now.net;Initial Catalog=db_aa44c8_rankingvj;User Id=db_aa44c8_rankingvj_admin;Password=333ZZZ...;Connect Timeout=60;" providerName="System.Data.SqlClient" />
		<add name="OL_Gamers_ALEntities" connectionString="metadata=res://*/Models.VideoJuegosContext.csdl|res://*/Models.VideoJuegosContext.ssdl|res://*/Models.VideoJuegosContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5074.site4now.net;initial catalog=db_aa44c8_rankingvj;persist security info=True;user id=db_aa44c8_rankingvj_admin;password=333ZZZ...;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=60&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<httpRuntime executionTimeout="3600" maxRequestLength="1048576" targetFramework="4.8"/>
		<sessionState timeout="60" />
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="30" defaultUrl="Home.aspx" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<compilation debug="true" targetFramework="4.8" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>